body {
	margin: 0;
	background: darkgray;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
}

#my_canvas {
	background: lightgray;
	display: none;
}

#my_speedometer {
	position: absolute;
	align-items: center;
	top: 5px;
	left: 1%;
	background: white;
	display: none;
}

#footer_right{
	z-index: 1;
	position: absolute;
	color: black;
	bottom: 15px;
	font-weight: 700;
	right: 50%;
	transform: translateX(50%);
	font-size: 15px;
}

#footer_left{
	z-index: 1;
	font-size: 30px;
	position: absolute;
	color: black;
	bottom: 40px;
	left: 50%;
	align-items: center;
	transform: translateX(-50%);
}

#screen-okay {
	display: none;
	z-index: 1;
	position: absolute;
	color: black;
	font-size: 18px;
	left: 68%;
	text-align: left;
	top: 20%;
	transform: translateX(-8%);
}

#small-screen {
	display: inline;
	z-index: 1;
	position: absolute;
	color: black;
	font-size: 30px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
}

#astronaut {
	left: 50%;
	transform: translateY(75%);
	display: inline;
	z-index: 1;
}

@media only screen and (min-width: 680px) {
	#my_canvas {
		display: inline;
	}
	#footer_left{
		position: absolute;
		font-size: 18px;
		left: 25%;
		transform: translateX(-75%);	
		bottom: 20px;			
	}
	#footer_right{
		position: absolute;
		bottom: 20px;
		right: 25%;
		transform: translateX(75%);
		font-size: 15px;
		font-weight: 400;	
	}	
	#my_speedometer {
		display: inline;
	}
	#screen-okay {
		display: inline;
	}
	#small-screen {
		display: none;
	}
	#astronaut {
		display: none;
	}
}