body {
	margin: 0;
	background: darkgray;
	overflow: hidden;
	text-align: center;
}

#my_canvas {
	background: lightgray;
}

#my_speedometer {
	position: absolute;
	align-items: center;
	top: 5px;
	left: 1%;
	background: white;
}